.demo{
    padding:20px 20px;
    border-radius: 10px;
    background-color: rgb(211, 211, 55);
    border: none;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 20px 320px 20px 320px;

}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 10px;
   box-sizing:border-box;
   margin: 10px 10px 10px 10px;
    
}
tr:nth-child(even){
    background-color: rgb(208, 197, 185);
}
